# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore Python bytecode cache
__pycache__/
**/__pycache__/

# Ignore project-specific folders
debug/
data/shirts/
lib/checkpoints/
lib/debug/
lib/res/
prod/libtorch
prod/build/
prod/weights/
prod/resnet.pt
prod/teesize
ui/assets/cache.png

# Ignore VSCode IDE settings
.vscode/