# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore Python bytecode cache
__pycache__/
**/__pycache__/

# Ignore project-specific folders
debug/
data/shirts/
lib/checkpoints/
lib/debug/
lib/res/
ui/assets/cache.png

# Ignore VSCode IDE settings
.vscode/